# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments & Virtual Envs
.env
.venv/
env/
venv/
ENV/

# Database
db.sqlite3
db.sqlite3-journal
*.sqlite3

# Static / Media build artifacts
staticfiles/
media/

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
